page-usercreation {
.img-tick{
    width: 17%;
    height: auto;
}
.tick-style{
    display: flex;
    justify-content: center;
    margin-bottom: 22px;
}
.line-style{
height: 19px;
width: 55%;
background-color: #DCEFDC;
border-radius:10px; 
}
.line-div{
    display: flex;
    justify-content: center;
}
.circle-design{
    height: 12px;
    width: 12px;
    background-color: #228B22;
    border-radius: 10px;
}
.circle-box
{
    display: flex;
    justify-content: center;
    margin-top: -19px;
}
.card-style
{
    padding: 14px;
    margin-top: 33%;
}
}
