page-ratecomment {
.img-style{
    width: 100%;
}
.ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] ion-icon[_ngcontent-c0] {
    font-size: 19px !important;
 }
 .ionic3-star-rating[_ngcontent-c0] .button[_ngcontent-c0] {
    height: 28px;
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 15px !important;
 }
 .lab-style{    text-align: end;
    margin-right: 14px;}
}
